/* Colour List
header -hex 23A823, rgb - 35, 168, 35
header text - rgb - 189, 219, 189
header active tab - rgb (246, 247, 246)

Carousel/ other pages
body - rgb (86, 149, 149)
text - 238, 238, 238
carousel picker - 158, 183, 183

Button
colour - 198, 231, 133
button text - 109, 163, 0
hover - 232, 243, 210

footer
background color - 0, 38, 0
text - 72, 87, 72

 */

 /***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}
/* Row */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.float-right {
  float: right;
}
/* for desktop */

@media (min-width: 48em) {
  
}




/***************************
****************************
Theme Styles
****************************
***************************/
.header-primary {
  background-color: rgb(35, 168, 35);
}
.header-secondary {
  color: rgb(189, 219, 189);
}
.header-active {
  background: rgb(246, 247, 246);
}

/* main body */
.main-primary {
  background: rgb(26, 126, 126);
}
.main-secondary {
  background: rgb(158, 183, 183);
}

/* button */
.btn-primary {
  background: rgb(126, 126, 126);
}
.btn-secondary {
  background: rgb(109, 163, 0);
}

/* footer */
.footer-primary {
  background: rgb(0, 38, 0);
}
.footer-secondary {
  background: rgb(189, 202, 189);
}

/***************************
****************************
Modules
****************************
***************************/
/* Button Modules */
.button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}
.btn-section {
  color: rgb(238, 238, 238);
  height: 100px;
  text-align: center;
}
.button:hover {
  background: rgb(26, 126, 126);
  border-color: white;
  text-decoration: none
}

/* for desktop */

@media (min-width: 48em) {
  
}


/* Header Modules */
.header {
  height: 170px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  font-weight: bold;
  font-size: 1.1em;
}
.header-nav {
  margin-top: 30px;
  top: unset;
}
.header-nav-primary {
  background: rgb(0, 105, 105);
  color: rgb(221, 243, 243);
}
.header-secondary-nav {
  padding: 5px;
  border-radius: 5%;
}
.link {
  list-style-type: none;
}
.link a:hover {
  text-decoration: none;
  background: none;
  border: 1px solid white;
}

/* for desktop */

@media (min-width: 40em) {
  .header {
    height: 60px;
  }
  .header-nav {
    font-size: 1.125em;
    margin-top: 0;
  }
  .link {
    display: flex;
  }
  .nav-link {
    flex: 2;
    text-align: left;
  }
  .cart {
    flex: 8;
    text-align: right;
  }

}

/* grocery cloud module */
.grocery {
  height: 200px;
  text-align: center;
}
.grocery-title {
  font-weight: bolder;
}
.grocery-primary {
  background: rgb(189, 219, 189);
  color: rgb(0, 191, 0)
}
/* desktop */
@media (min-width: 40em) { 
  .grocery {
    height: 150px;
  }
}

/* Carousle Module */
.main-page-carousel {
  padding-top: 20px;
  background: rgb(6, 117, 117);
}
button[uib-btn-checkbox] {
  margin-bottom: 10px;
}

/* footer Module */
.footer {
  height: 200px;
  text-align: center;
}
.footer-text, .footer-text a {
  text-decoration: none;
  color: rgb(189, 202, 189);
}
.footer-text a:hover {
  color: rgb(26, 126, 126);
}

/* for desktop */

@media (min-width: 48em) {
  
}.footer {
  height: 150px;
}

/***************************
****************************
Shopping Page
****************************
***************************/
 /* Theme */
 .category-primary {

 }
 .category-secondary {

 }
 .category-complementary {

 }

 /* Category Module */
 .category {  
  /* height: 500px; */
  position: relative;
  border: 1px solid black;
  padding: 5px;
 }
 .category-top {
  height: 150px;
  border: 1px solid black;
  padding: 5px;
  margin: 2px;
 }
 .category-top-column {
  height: 30px;
  border: 1px solid brown;
  margin: 5px 0;
 }
 .category-product-bottom {
  /* height: 350px; */
  border: 1px solid rgb(112, 4, 4);
  padding: 5px;
  margin: 2px;
 }
 .category-product-list {
   height: 100px;
   border: 1px solid brown;
   margin: 2px 0;
   display: inline-flex;
 }
 .product-list-setting {
   padding: 5px;
   border: 1px solid orange;
 }
 .product-list-setting-btn {
   margin-right: 24px;
 }

 .control-bar-primary {
   background: rgb(0, 105, 105);
 }
.control-bar-display {
  height: 30px;
  background: white;
  padding-top: 5px;
  padding-left: 30px;
  border-radius: 3%;
  margin: 5px 0;
}
 /* make the sort  by menu fit to page */
 .dropdown-menu {
   min-width: unset;
 }

 /* product display */
 .category-product-image {
  width: 70%;
  border: 1px solid blue;
  overflow: hidden;
  position: relative;
}
.category-product-image > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.category-product-image-details {
  width: 30%;
  border: 1px solid green;
  text-align: center;
}
.add-product-btn {
  border-radius: 3px;
  color: rgb(246, 247, 246);
  font-weight: bold;
}
.add-product-btn:hover {
  color: unset;
}
 
 
 /* for desktop */

@media (min-width: 48em) {
  .category-top {
    width: 32%
  }

  .category-bottom-container {
    width: 100%; 
  }
  .category-product-list-display {
    display: flex;
    padding: 5px;
    margin: 5px;
  }
  .product-on-left {
    margin-right: 10px;
  }
  .category-product-list {
    height: 200px;
  }
  
  .control-bar-display {
    margin: unset;
  }
  .btn-sortby {
    text-align: center;
  }
}

/***************************
****************************
Product Page
****************************
***************************/
.product {
  height: 300px;
  padding: 10px;
}
.product-image {

}
.product-features {

}


