/* Colour List
header -hex 23A823, rgb - 35, 168, 35
header text - rgb - 189, 219, 189
header active tab - rgb (246, 247, 246)

Carousel/ other pages
body - rgb (86, 149, 149)
text - 238, 238, 238
carousel picker - 158, 183, 183

Button
colour - 198, 231, 133
button text - 109, 163, 0
hover - 232, 243, 210

footer
background color - 0, 38, 0
text - 72, 87, 72

 */

 /***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}
/* Row */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/***************************
****************************
Theme Styles
****************************
***************************/
.header-primary {
  background-color: rgb(35, 168, 35);
}
.header-secondary {
  color: rgb(189, 219, 189);
}
.header-active {
  background: rgb(246, 247, 246);
}

/* main body */
.main-primary {
  background: rgb(86, 149, 149);
}
.main-secondary {
  background: rgb(238, 238, 238);
}
.main-secondary {
  background: rgb(158, 183, 183);
}

/* button */
.btn-primary {
  background: rgb(198, 231, 133);
}
.btn-secondary {
  background: rgb(109, 163, 0);
}

/* footer */
.footer-primary {
  background: rgb(0, 38, 0);
}
.footer-secondary {
  background: rgb(72, 87, 72);
}

/***************************
****************************
Modules
****************************
***************************/
/* Button Modules */
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background: rgb(232, 243, 210);
}

/* Header Modules */
.header {
  height: 170px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  /* position: fixed; */
}
.header-nav {
  margin-top: 30px;
  top: unset;
}

.link {
  list-style-type: none;
}
.link a:hover {
  text-decoration: none;
}

/* grocery cloud module */
.grocery {
  height: 200px;
  text-align: center;
}
.grocery-primary {
  background: rgb(189, 219, 189);
  color: rgb(0, 191, 0)
}