/* Colour List
header -hex 23A823, rgb - 35, 168, 35
header text - rgb - 189, 219, 189
header active tab - rgb (246, 247, 246)

Carousel/ other pages
body - rgb (86, 149, 149)
text - 238, 238, 238
carousel picker - 158, 183, 183

Button
colour - 198, 231, 133
button text - 109, 163, 0
hover - 232, 243, 210

footer
background color - 0, 38, 0
text - 72, 87, 72

 */

 /***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Theme Styles
****************************
***************************/
.header-primary {
  background-color: rgb(35, 168, 35);
}
.header-secondary {
  background: rgb(189, 219, 189);
}
.header-active {
  background: rgb(246, 247, 246);
}

/* main body */
.main-primary {
  background: rgb(86, 149, 149);
}
.main-secondary {
  background: rgb(238, 238, 238);
}
.main-secondary {
  background: rgb(158, 183, 183);
}

/* button */
.btn {
  background: rgb(198, 231, 133);
}
.btn:hover {
  background: rgb(232, 243, 210);
}
.btn-text {
  background: rgb(109, 163, 0);
}

/* footer */
.footer-primary {
  background: rgb(0, 38, 0);
}
.footer-secondary {
  background: rgb(72, 87, 72);
}