<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th>Items</th>
                    <th>Details</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>Apple</td>
                    <td>$30</td>
                    <td>2</td>
                    <td>$60</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="col-xs-12">Summary of purchase</div>
  </div>
</div>