<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th>Items</th>
                    <th>Details</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td>Apple</td>
                    <td>$30</td>
                    <td>2</td>
                    <td>$60</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="col-xs-12 cart-summary">
        <div class="">
            <p><span>Cart Summary</span></p>
            <div>
              <div><h5>Subtotal</h5><h6>total display</h6>
              </div>
              <div><h5>Shipping</h5><h6>shipping display</h6>
              </div>
              <div><h5>Tax</h5><h6>total tax</h6>
              </div>
              <div><h5>Total</h5><h6>total cost</h6>
              </div>              
            </div>
          </div>
          <button type="button" class="btn btn-primary product-add-to-cart-btn">Add to Cart</button>
    </div>
  </div>
</div>