<div class="container main-primary">
  <div class="row">
    <div class="col-xs-12 col-sm-6 product">
        <img class="img-responsive center-block img-thumbnail" src="images/a.jpg" alt="product display image"/>
    </div>
    <div class="col-xs-12 col-sm-6 product text-center">
      <div><h5><span class="product-feature">Product Name</span></h5></div>
      <div><p><span class="product-feature">Product Ratings (1 - 5 starts)</span></p></div>
      <div>
          <span class="product-feature">Product Price</span>
      </div>
      <div class="product-feature product-description-feature">Product Description</div>
      <label for="number">Qty</label>: <input class="product-quantity-feature" type="number" name="number" id="">
      <br />
      <button type="button" class="btn btn-primary product-add-to-cart-btn">Add to Cart</button>
    </div>
  </div>
</div>