<section class="product-list-setting control-bar-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <!-- toggle for product in stock -->
          <button type="button" class="btn btn-primary" ng-model="main.toggleOn" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">In-Stock Only</button>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 control-bar-display">Display Quantity</div>
      <div class="col-xs-12 col-sm-3 col-md-3 control-bar-display">Display Category Name</div>
      <div class="col-xs-12 col-sm-3 col-md-3 btn-sortby">
        <!-- ui bootstrap dropdown button -->
          <div class="btn-group" uib-dropdown is-open="shop.status.isOpen">
              <button id="single-button" type="button" class="btn btn-secondary" uib-dropdown-toggle ng-disabled="disabled">
                Sort By
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem">
                  <a href="#">None</a>
                </li>
                <li role="menuitem">
                  <a href="#">Price</a>
                </li>
                <li role="menuitem">
                  <a href="#">Alphabetical</a>
                </li>
                <li role="menuitem">
                  <a href="#">Rating</a>
                </li>
              </ul>
            </div>
      </div>
    </div>
  </div>
</section>
<section class="category">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="category-top">
              <div class="col-xs-12 category-top-column">Category Heading 1</div>
              <div class="col-xs-12 category-top-column">Category Heading 2</div>
              <div class="col-xs-12 category-top-column">Category Heading 2</div>
            </div>
          </div>
        </div>
      </div>
      <!-- to display product on right -->
      <div class="col-md-8">
        <div class="row">
          <div class="category-product-bottom">
            <div class="container category-bottom-container">
              <div class="row">
                <!-- to achieve display of product in pairs -->
                <div class="category-product-list-display">
                  <div class="col-xs-12 category-product-list product-on-left">
                    <div class="category-product-image">
                        <img class="img-responsive center-block" src="images/a.jpg">
                    </div>
                    <div class="category-product-image-details">Details and button</div>
                  </div>
                  <div class="col-xs-12 category-product-list">Product 2</div>
                </div>
                <div class="category-product-list-display">
                  <div class="col-xs-12 category-product-list product-on-left">Product 3</div>
                  <div class="col-xs-12 category-product-list">Product 4</div>
                </div>
                <div class="category-product-list-display">
                  <div class="col-xs-12 category-product-list product-on-left">Product 5</div>
                  <div class="col-xs-12 category-product-list">Product 6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>